/* qui importo da i file parziali nella cartella omonima */

@import "./partials/_common.scss";
@import "./partials/_variables.scss";

/* RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'Raleway';
};

.my-btn{
    width: 150px;
    color: white;
    font-weight: 800;
    padding: 1rem .5rem;
    border: transparent;
    border-radius: .2rem;
    text-transform: uppercase;
    background-color: rgb(2, 130, 249);
}